body {
    font-size: 1.25rem; 
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 0;
}

hr {
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(0.44375rem); 
    -webkit-backdrop-filter: blur(0.44375rem); 
    width: 0.125rem; 
    height: 3.125rem;
    border: 0;
}
span
{
    color: #6a5acd;
}

a {
    text-decoration: none;
    /* color: #fff; */
}
/* First Page */

    .FirstPage {
        display: grid;
        background: url(banner-bg.jpg);
        border-radius: 0 0 21.875rem ; 
        height: 100vh;
        background-size: cover;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 80%;
        grid-template-areas: "Header" "Contents";
    }

    .header {
        grid-area: Header;
        display: flex;
        flex-wrap: 1.0;
        justify-content: space-around;
        padding: 1rem 3.125rem;
        align-items: center;
        background-color: rgb(122, 107, 210);
        position: fixed;
        width: 100%;
        border-radius: 0rem 0rem 3.5rem 3.5rem;
        z-index: 2;
    }

    .subheader {
        display: flex;
        justify-content: space-between;
        gap: 1.875rem; 
        align-items: center;
    }

    .subheader .icon {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #fff;
        font-size: 3rem;
    }

    #search {
        background: rgba(255, 255, 255, 0.26);
        border-radius: 3.125rem; 
        box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1); 
        backdrop-filter: blur(0.44375rem);
        -webkit-backdrop-filter: blur(0.44375rem); 
        border: 0.0625rem solid rgba(255, 255, 255, 0.04); 
        padding: 0.625rem 3.125rem; 
    }

    .navbar ul {
        display: flex;
        gap: 7rem;
        flex-wrap: nowrap;
        align-items: center;
        
    }

    .navbar li, .navbar a {
        list-style: none;
        color: #fff;
        font-weight: 0;
    }

    .FirstPage #Home {
        background: rgba(255, 255, 255, 0.26);
        border-radius: 3.125rem; 
        box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1); 
        backdrop-filter: blur(0.44375rem); 
        -webkit-backdrop-filter: blur(0.44375rem); 
        padding: 0.625rem 3.125rem; 
    }

    .container1 {
        display: flex;
        color: #fff;
        width: 100%;
        justify-content: right;
    }

    .container1 section {
        display: grid;
        float: right;
        background: url(banner-item-01.jpg);
        border-radius: 1.875rem;
        background-size: cover;
        width: 58%;
        height: 60%;
        padding: 10rem;
        margin-right: 22rem; 
        gap: 3.125rem; 
    }

    .container1 section #Ourcourses {
        padding: 0.625rem 1.25rem; 
        width: 15%;
        font-size: 1.25rem; 
        border-radius: 3.125rem; 
        color: #fff;
        background-color: rgb(105, 93, 163);
        border: 0;
    }

    .container1 section h1 {
        font-size: 5.5rem; 
        font-weight: bold;
    }

    .container1 section p {
        line-height: 3rem; 
    }

    .container1 section #RequestDemo{
        display: grid;
        padding: 0.9375rem 1.875rem; 
        font-size: 1.25rem; 
        border-radius: 3.125rem; 
        /* color: rgb(105, 93, 163); */
        background-color: #fff;
        font-weight: bold;
        border: 0;
    }

    #Ourcourses a {
        color: #fff;
    }

    button:hover {
        transform: scale(1.1);
        transition: 1.2s;
    }

    .buttons {
        display: flex;
    }

    .buttons img {
        border-radius: 50%;
        height: 3.125rem; 
        margin-left: 3.125rem; 
    }

    .playbutton {
        display: flex;
        align-items: center;
        gap: 0.75rem; 
    }

/* Second Page */

    .SecondPage
    {
        display: flex;
        flex-direction: column;
        /* display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60% 90%;
        grid-template-areas: "MainContainer1"
                            "MainContainer2"  ; */
        padding: 15rem 0rem;
        /* height: 100vh; */
    }


    .MainContainer1
    {
        grid-area: MainContainer1;
        display: flex;
        flex-wrap: wrap;
        /* background-color: grey; */
        justify-content: space-between;
        height: 60rem;
        align-items: center;
    }

    .subcontainer1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        /* gap: 5rem; */
        flex-wrap: wrap;
    }

    .grids
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 10%;
        background-color:rgb(225, 218, 235);
        padding: 2.4%;
        text-align: left;
        width:15%;
        line-height: 2rem;
        height: 60%;
        align-content: center;
        font-size: 100%;
        line-height: 3.5rem;
    }

    .grids .Readmore {
        display: grid;
        padding: 0.9375rem 1.875rem; 
        font-size: 1.25rem; 
        border-radius: 3.125rem; 
        /* color: rgb(53, 8, 255); */
        background-color: #fff;
        font-weight: bold;
        border: 0;
        width: 50%;
    }

    .Readmore:hover
    {
        background-color: #6a5acd;
        color: #000000;
    }

    .icons {
        position: relative;
        top: -15rem;
        left: calc(80.4% - 58%);
        width: 15rem;
        height: 15rem;
        background-color: rgb(122, 107, 210);
        border-radius: 50%;
        display: flex;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    }

    .icons img {
        padding: 28%;
        width: 7rem; 
        height: 7rem; 
    }

    .icons img:hover
    {
        transition: 500ms;
        transform: translateY(-30px);
    }

    .MainContainer2
    {
        grid-area: MainContainer2;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        /* background-color: grey; */
        justify-content: space-between;
    }


    .academy-section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: right;
        align-items: center;
    }

    .faq {
        display: flex;
        flex-direction: column;
        background-color: #6a5acd; 
        padding: 5rem;
        border-radius: 2rem;
        width: 70rem;
        height: 50rem;
        color: rgb(0, 0, 0);
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .faq-item {
        background-color: #ffffff; 
        border-radius: 2rem;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 1rem;
        transition: background-color 0.3s ease;
        width: 100%;
    }

    .faq-item summary {
        list-style: none;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.3s ease;
        font-size: 2rem;
    }

    .faq-question
    {
        color: #000000;
    }

    .faq-item summary::-webkit-details-marker {
        display: none;
    }

    .faq-toggle {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color:#6a5acd;
        color:  white;
        text-align: center;
        line-height: 24px;
        font-size: 18px;
        font-weight: bold;
        transition: transform 0.3s ease;
    }

    .faq-answer {
        display: none;
        padding-top: 10px;
        color: #000000;
        transition: max-height 0.3s ease;
        overflow: hidden;
        max-height: 0;
    }

    details[open] .faq-question
    {
        color: #6a5acd;
    }
    details[open] .faq-answer {
        display: block;
        max-height: 200px; 
    }

    details[open] .faq-toggle {
        transform: rotate(45deg);
    }

    .about-us {
        
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        max-width: 70rem;
        background-color:rgb(225, 218, 235);
        height:45rem;
        line-height: 3rem;
        text-align: left;
        padding: 5rem 5rem;
    }
    
    .about-us h2 {
        font-size: 5rem;
        line-height: 5.5rem;
        margin-bottom: 20px;
        margin-right: 2em;
    }

    .about-us p {
        font-size: 1.5rem;
        margin-bottom: 5rem;
        margin-right: 4em;
    }

    .about-us a {
        /* color: #6a5acd; */
        text-decoration: none;
        font-weight: bold;
    }

    .about-us button:hover {
        text-decoration: none;
        color: #fff;
        background-color: #6a5acd;
    }

    .about-us button {
        display: grid;
        padding: 0.9375rem 1.875rem; 
        font-size: 1.25rem; 
        border-radius: 3.125rem; 
        /* color: rgb(53, 8, 255); */
        background-color: #fff;
        font-weight: bold;
        border: 0;
        width: 20%;
    }

    .Readmore:hover
    {
        background-color: #6a5acd;
        color: #000000;
    }
    /* .aboutuscontents
    {
        display: flex;
        flex-direction: column;
        padding: 7em;
        height: 100%;
        justify-content: center;
    } */

/* Third Page */

    .ThirdPage
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0rem 20rem;
    }
    .ThirdPage h1
    {
        font-size: 4rem;
    }
    .LatestCoursesNavbar
    {
        background-color:rgb(225, 218, 235);
        border-radius: 20rem;
    }
    .LatestCoursesNavbar ul
    {
        display: flex;
        margin-right: 3rem;
        gap: 5rem;
        padding: 1rem;
        font-weight: 500;
    }
    .LatestCoursesNavbar li
    {
        list-style: none;
        padding: 0rem 2rem;
        
    }
    .LatestCoursesNavbar li a
    {
        color: #000000;
        font-weight: 500;
    }
    .LatestCoursesBoxes
    {
        display: flex;
        padding:5rem 1rem ;
        gap: 3rem;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .CourseBox
    {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        width: 40rem;
        height: 40rem;
        background-color: rgb(225, 218, 235);
        border-radius: 3rem;
        overflow: hidden;
    }
   
    .courseprice {
        position: relative;
        top: -43rem;
        left: calc(95.4% - 16%);
        width: 13rem;
        height: 13rem;
        background-color: rgb(122, 107, 210);
        border-radius: 50%;
        display: flex;
        /* background-clip:text; */

    }
    .courseprice p {
        padding: 30% 15%;
        width: 7rem; 
        height: 7rem;
        color: #fff; 
        font-size: 2.5rem;
        font-weight: bold;
    }
    .courseprice p sup
    {
        font-weight: 100;
        font-size: 1.5rem;
    }
    .courseimg img
    {
        margin-top: 0;
        width: 100%;
        border-radius: 3rem;
        object-fit: cover;
    }
    .LatestCourseDetails
    {
        padding: 2rem;
    }

/* Forth Page */
    .ForthPage
    {
        margin-top: 5rem;
    }
    .Status
    {
        background: rgb(123,106,218);
        color: #fff;
        border-top-right-radius: 20rem;
        border-bottom-right-radius: 20rem;
        width: 85vw;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 20rem;
        padding: 10rem;
        line-height: 1rem;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
        font-size: 2rem;
    }
    .Status h1
    {
        font-size: 3vw;
        font-weight: 900;
    }
    .Teachers
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20rem 5rem;
        gap: 3.5rem;
        margin-bottom: 15.5rem
    }
    .teachercards
    {
        width: 30.5vh;
        height: 25.5vh;
        border-radius: 2rem;
        background-color: rgb(225, 218, 235);
    }
    .teacherimg
    {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -40rem;
    }
    .teacherimg img
    {
        border-radius: 50%;
        height: 20.5rem;
        width: 20.5rem;
    }
    .teacherdetails
    {
        padding: 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Testimonials
    {
        display: flex;
        justify-content: right;
        width: 100%;
        height: 55vh;
    }

    .testimonialcontent
    {
        display: flex;
        flex-wrap: nowrap;
        background-color: rgb(225, 218, 235);
        width: 65vw;
        max-height: 100%;
        border-top-left-radius: 50rem;
        border-bottom-left-radius:50rem ;
        align-items: center;
    }
    .testimonialcard
    {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        width: 70%;
        height:50%;
        background-color: #6a5acd;
        color: #fff;
        padding:5rem 11rem;
        align-content: center;
        left: -30%;
        border-radius: 2rem;
        line-height: 4rem;
        gap: 1.2rem;
    }
    .statement p
    {
        font-size: 1.5rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .authorimage
    {
        position: relative;
        overflow: hidden;
        
    }
    .authorimage img
    {
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
    }
    .testimonialauthor
    {
        display: flex;
        gap: 3rem;
        align-items: center;
    }
    .testimonialauthor span
    {
        color: #fff;
    }
    .authorprofile
    {
       line-height: 1rem;
    }
    .testimonialdescptn
    {
        margin-left: -30rem;
        margin-right:10rem;
        align-items: center;
    }
    .testimonialdescptn h1
    {
        font-size: 4rem;
    }
    .testimonialdescptn p
    {
        line-height: 3rem;
        margin-right: 35rem;
    }
/* Fifth Page */
    .FifthPage
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2.5rem;
        /* background-color:aquamarine; */
        padding: 20rem 2rem;
    }
    .Schedule
    {
        text-align: center;
    }
    .Schedule h1
    {
        font-size: 4rem;
    }
    .Eventcards
    {
        display: flex;
        flex-direction: column;
        gap: 8rem;
        width: 100%;
        height: 80%;
        align-items: center;
    }
    .Event
    {
        display: flex;
        background-color: rgb(225, 218, 235);
        width: 50%;
        max-height: 15rem;
        /* justify-content: space-around; */
        gap: 3.5rem;
        border-radius: 2rem;
        padding:0rem 4rem;
    }
    
    .Eventdetails
    {
        display: flex;
        justify-content: center;
        gap: 8.5rem;
        padding: 3rem;
        text-align: left;
        height: 20rem;
    }
    .Eventimage
    {
        position: relative;
        align-items: center;
        margin-top: -2rem;
        /* top: -1rem; */ 
    }
    .Eventimage img
    {
        height: 10vw;
        align-self: center;
        border-radius: 2rem;
    }

/* @media only screen and (max-width: 1024px) {
    .header {
        flex-direction: column;
        padding: 0rem 1.5rem;
    }
    
    .subheader {
        flex-direction: column;
        gap: 1rem;
    }
    #search {
        display: none;
     }
     

    .navbar ul {
        gap: 2rem;
    }
    
    .container1 section {
        width: 80%;
        margin-right: 0;
    }

    .container1 section h1 {
        font-size: 4rem;
    }

    .container1 section p {
        line-height: 2rem;
    }

    .grids {
        width: 40%;
        height: auto;
    }

    .faq {
        width: 100%;
        padding: 2rem;
    }

    .MainContainer1{
        flex-direction: column;
    }

    .icons {
        width: 10rem;
        height: 10rem;
        top: -6rem;
    }

    .icons img {
        width: 5rem;
        height: 5rem;
        padding: 20%;
    }

    .Readmore {
        width: 70%;
    }
    .MainContainer2
    {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .academy-section
    {
        width: 100%;
        gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .subheader .icon {
        font-size: 2rem;
    }
    
    #search {
       display: none;
    }
    
    .navbar ul {
        flex-direction: column;
        gap: 1rem;
    }

    .container1 section {
        width: 90%;
        padding: 5rem;
    }

    .container1 section h1 {
        font-size: 3rem;
    }

    .grids {
        width: 60%;
        height: auto;
    }

    .faq {
        padding: 1rem;
    }

    .icons {
        width: 8rem;
        height: 8rem;
        top: -4rem;
    }

    .icons img {
        width: 4rem;
        height: 4rem;
        padding: 15%;
    }

    .Readmore {
        width: 80%;
    }

    .academy-section {
        justify-content: center;
    }
    .MainContainer2
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .academy-section
    {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
   
    .header {
        padding: 0.5rem 1rem;
        width: 10%;
    }

    .subheader {
        gap: 0.5rem;
    }

    .subheader .icon {
        font-size: 1.5rem;
    }

    #search {
        display: none;
    }

    .navbar ul {
        gap: 0.5rem;
    }
    .container1 section {
        width: 100%;
        padding: 2rem;
    }

    .container1 section h1 {
        font-size: 2rem;
    }

    .container1 section p {
        line-height: 1.5rem;
    }

    .grids {
        width: 80%;
        height: auto;
    }

    .faq {
        width: 100%;
        padding: 0.5rem;
    }

    .icons {
        width: 6rem;
        height: 6rem;
        top: -2rem;
    }

    .icons img {
        width: 3rem;
        height: 3rem;
        padding: 10%;
    }

    .Readmore {
        width: 90%;
    }

    .academy-section {
        justify-content: center;
    }
} */