body {
    font-size: 1.25rem; 
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 0;
}

hr {
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(0.44375rem); 
    -webkit-backdrop-filter: blur(0.44375rem); 
    width: 0.125rem; 
    height: 3.125rem;
    border: 0;
}


/* First Page */
.FirstPage {
    width: 100%;
    display: grid;
    background: url(Assets/images/banner-bg.jpg);
    border-radius: 0 0 21.875rem ; 
    height: 100vh;
    background-size: cover;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: "Header" "Contents";
}

.header {
    grid-area: Header;
    display: flex;
    flex-wrap: 1.0;
    justify-content: space-around;
    padding: 1rem 3.1rem;
    align-items: center;
    background-color: rgb(122, 107, 210);
    position: fixed;
    width: 100%;
    border-radius: 0rem 0rem 3.5rem 3.5rem;
    z-index: 2;
}

.subheader {
    display: flex;
    justify-content: space-between;
    gap: 1.875rem; 
    align-items: center;
}

.subheader .icon {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 3rem;
}

#search {
    background: rgba(255, 255, 255, 0.26);
    border-radius: 3.125rem; 
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(0.44375rem);
    -webkit-backdrop-filter: blur(0.44375rem); 
    border: 0.0625rem solid rgba(255, 255, 255, 0.04); 
    padding: 0.625rem 3.125rem; 
}

.navbar ul {
    display: flex;
    gap: 7rem;
    flex-wrap: wrap;
    align-items: center;
}

.navbar li, .navbar a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.FirstPage #Home {
    background: rgba(255, 255, 255, 0.26);
    border-radius: 3.125rem; 
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(0.44375rem); 
    -webkit-backdrop-filter: blur(0.44375rem); 
    padding: 0.625rem 3.125rem; 
}

.containerone {
    display: flex;
    color: #fff;
    width: 100%;
    justify-content: right;
}

.containerone section {
    display: grid;
    float: right;
    background: url(Assets/images/banner-item-01.jpg);
    border-radius: 1.875rem;
    background-size: cover;
    width: 58%;
    height: 60%;
    padding: 10rem;
    margin-right: 22rem; 
    gap: 3.125rem; 
}

.containerone section #Ourcourses {
    padding: 0.625rem 1.25rem; 
    width: 15%;
    font-size: 1.25rem; 
    border-radius: 3.125rem; 
    color: #fff;
    background-color: rgb(105, 93, 163);
    border: 0;
}

.containerone section h1 {
    font-size: 5.5rem; 
    font-weight: bold;
}

.containerone section p {
    line-height: 3rem; 
}

.containerone section #RequestDemo{
    display: grid;
    padding: 0.9375rem 1.875rem; 
    font-size: 1.25rem; 
    border-radius: 3.125rem; 
    color: rgb(105, 93, 163);
    background-color: #fff;
    font-weight: bold;
    border: 0;
}

#Ourcourses a {
    color: #fff;
}

a {
    text-decoration: none;
    /* color: #6a5acd; */
}

button:hover {
    transform: scale(1.1);
    transition: 1.2s;
}

.buttons {
    display: flex;
}

.buttons img {
    border-radius: 50%;
    height: 3.125rem; 
    margin-left: 3.125rem; 
}

.playbutton {
    display: flex;
    align-items: center;
    gap: 0.75rem; 
}

/* Second Page */


.SecondPage
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 90%;
    grid-template-areas: "MainContainer1"
                         "MainContainer2"  ;
    padding: 15rem 0rem;
    height: 100vh;
    width: 100%;
}


.MainContainerone
{
    grid-area: MainContainer1;
    display: flex;
    flex-wrap: wrap;
    /* background-color: grey; */
    justify-content: space-between;
}

.subcontainerone
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
}


.grids
{
    display: grid;
    border-radius: 10%;
    background:rgb(241,240,254);
    padding: 1.4%;
    text-align: left;
    width:20%;
    line-height: 2rem;
    height: 60%;
    align-items: center;
}
.grids p
{
    color: rgb(113, 111, 122);
}
.Readmore{
    display: grid;
    padding: 0.9375rem 1.875rem; 
    font-size: 1.25rem; 
    border-radius: 3.125rem; 
    /* color: rgb(0, 0, 0); */
    background-color: #fff;
    font-weight: bold;
    border: 0;
    width: 30%;
}
.Readmore:hover
{
    background-color: #6a5acd;
    color: #fff;
}

.icons {
    position: relative;
    top: -9rem;
    left: calc(94% - 18%);
    width: 15rem;
    height: 15rem;
    background-color: rgb(122, 107, 210);
    border-radius: 50%;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
}

.icons img {
    padding: 28%;
    width: 7rem; 
    height: 7rem; 
}

.icons img:hover
{
    transition: 500ms;
    transform: translateY(-30px);
}

.MainContainertwo
{
    grid-area: MainContainer2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding:8rem 0rem;
    justify-content: center;
}

.academy-section {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: end;
    place-items:end;
    align-items: center;
}
.faqandacademy
{
   display: flex;
    height: 100%;
    width: 90%;
}
.faq {
    display: flex;
    flex-direction: column;
    background-color: #6a5acd; 
    padding: 3rem;
    border-radius: 5%;
    width: 90%;
    height: 70%;
    color: rgb(0, 0, 0);
    justify-content: center;
    gap: 3rem;
}
.faq-item {
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    place-items: center;
    border-radius: 5rem;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 2rem;
    max-height:10rem;
    transition: background-color 0.3s ease;
}
.faq-question
{
    font-weight: bold;
}

.faq-item summary {
    list-style: none;
    /* padding: 2rem; */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    
}

.faq-item summary::-webkit-details-marker {
    display: none;
}

.faq-toggle {
    display: inline-block;
    width: 3%;
    height: 3%;
    aspect-ratio: 1/1;
    padding: 1rem;
    border-radius: 100%;
    background-color:#6a5acd;
    color:  white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.faq-answer {
    display: none;
    padding-top: 10px;
    color: rgb(113, 109, 124);
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 10rem;
    line-height: 2rem;
}

details[open] .faq-answer {
    display: inline-block;
    max-height: 10rem; 
    
}

details[open] .faq-question
{
    color: #6a5acd;
}

details[open] .faq-toggle {
    transform: rotate(45deg);
}

.aboutuscontainer
{
    display: flex;
    align-items: center;
    height:80%;
    width: 100%;
    justify-content: center;
}

.about-us {
    display: flex;
    flex-direction: column;
    background:rgb(241,240,254);
    width: 100%;
    padding: 10%;
    align-items: right;
    height: 60%;
    position: center;
    justify-content: center;
}
.about-us h4
{
   color: rgb(145, 130, 210);
   margin-top: 5rem;
}

.about-us h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-right: 25%;
}

.about-us p {
    font-size: 1.2rem;
    margin-bottom: 10%;
    line-height: 3rem;
    color: rgb(113, 111, 122);
    margin-right: 25%;
}

.Discovermore {
    display: grid;
    padding: 0.9375rem 1.875rem; 
    font-size: 1.25rem; 
    border-radius: 3.125rem; 
    color: rgb(113, 111, 122);
    background-color: #fff;
    font-weight: bold;
    border: 0;
    width: 20%;
}

/* Third Page */
.ThirdPage
{
    padding: 20rem 30rem;;
    display: flex;
    flex-direction: column;
    height:100vh;
    align-items: center;
  
}

.LatestcoursesTitle
{
    text-align:center;
}

.LatestcoursesTitle h4
{
    color: #6a5acd;
}

.LatestcoursesTitle h2
{
    font-size: 3rem;
}

.Latestcoursesnavbar
{
    padding:5rem 10rem;
    
}

.Latestcoursesnavbar ul
{
    display: flex;
    background:rgb(241,240,254);
    gap: 7rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 4rem;
    border-radius: 5rem;
}
.Latestcoursesnavbar li
{
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}
.Latestcourses
{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* align-items: center; */
    
    height: 10rem;
}
.Latestcourses h5
{
    color: #786dbc;
}

.latestcoursesbox
{
    width: 25%;
    border-radius: 2rem;
    background:rgb(241,240,254);
    padding: 2rem;
}
.courseimage img
{
    border-radius: 2rem;
    width: 100%;
    padding: 0;
}
